html{
	height: 100%;
} 
 
body{
	font: 15px/1.5 Arial, Helvetica, sans-serif;
 	padding: 0;
 	margin: 0;
	min-height: 100%;
 	background: #e4e1dd;
 }
/* Global */
p{
	cursor: default;
}

/* Banner */
.banner{
	width: 100%;
	height: 300px;
}

.background{
	width: 100%;
	height: 300px;
	position: absolute;
	z-index: -1000;
}

.background img{
	width: 100%;
	max-height: 300px;
	object-fit: cover;
}

.title{
	width: 100%;
	z-index: 10000;
	position: absolute;
	float: left;
}

.title img{
	width: 30%;
}

.sl{
	width: 100%;
	height: 300px;
	position: absolute;
}

.sl p{
	width: 20%;
	color: white;
	padding: 10px 10px;
	background-color: #669c9b;
	border-radius: 10px;
	text-align: center;
	margin: 200px 40%;
}


/* Nav */
.nav{
	position: relative;
	background: #669c9b;
	margin: 0;
	padding: 0.2px 0px;
}

.nav hr{
	display: none;
}

.nav ul{
	text-align: center;
	padding: 0;
}

.nav ul li{
	display: inline-block;
}

.nav ul li a{
	margin: 0 10px;
	color: white;
	font-size: 15px;
	padding: 0px 5px;
	border-radius: 5px;
	text-decoration: none;
	display: block;
}

.nav2{
	position: relative;
	margin: 0;
}

.nav2 hr{
	display: none;
	padding: 0;
}

.nav2 ul{
	text-align: center;
	padding: 3px 0px;
}

.nav2 ul li{
	display: inline-block;
	border: 1px solid #4e7574;
	border-radius: 5px;
	padding: 0px;
}

.nav2 ul li a{
	color: #556670;
	font-size: 20px;
	padding: 1px 3px;
	border-radius: 5px;
	text-decoration: none;
	display: inline-block;
}

a.active,a:hover{
	background-color: #8bc1c7;
	transition: .5s;
}

a:hover img{
	border: none !important;
	display: block;
}

a{
	color: #669c9b;
	font-size: 15px;
	padding: 5px 5px;
	border-radius: 5px;	
}
/* Content */
.columns{
	display: grid;
	grid-template-columns: 0.6fr 0.5fr 1.3fr 0.6fr;
	gap: 1em;
	padding: 1em;
	min-height: calc(100vh - 300px - 82.5px);
}

.news{
	grid-column: 2/3;
	padding-top: 15px;
}

.news img{
	padding-top: 5px;
	max-width: 100%;
}

.text{
	color: #365858;
	grid-column: 3/4;
	align-self: start;
}

.text h1{
	color: #f3f0f0;
	font-size: 25px;
	padding: 5px 5px;
	background-color: #556670;
	border-radius: 5px;
}

.text h2{
	color: #f3f0f0;
	background-color: #708592;
	border-radius: 5px;
}

.text h3{
	color: #f3f0f0;
	background-color: #6e8797;
	border-radius: 5px;
}

.text hr{
	height: 1px;
	border: none;
	background-color: #e4e1dd;
}

table{
	border: solid 0px #4e7574;
}

.text table{
	width: 100%;
	align-items: center;
	padding: 10px 0px;
	border-collapse: collapse;
	color: #4e7574;
}

.text table thead{
	text-align: left;
	font-size: 20px;
	color: #f3f0f0;
	background-color: #708592;
	padding-left: 5px;
	border-radius: 10px;
}

.text td{
	border-bottom: solid 1px #4e7574;
	padding: 10px 8px;
}

.text td a{
	color: #669c9b;
	font-size: 15px;
	padding: 5px 5px;
	border-radius: 5px;
}

details{
	padding: 5px 0px;
}

details > summary{
	font-size: 18px;
	list-style: none;
	color: #f3f0f0;
	background-color: #708592;
	padding: 10px 5px;
	border-radius: 5px;
}

summary{
	cursor: pointer;
}

.big{
	font-size: 20px;
	padding: 10px 5px;
	color: #f3f0f0;
	background-color: #708592;
	border-radius: 5px;
}

/* Footer */
.footer{
	position: relative;
	text-align: center;
	background-color: #4a4e4f;
	margin-top: auto;
	padding: 1em 0;
	width: 100%;
}

.footer p{
	color: white;
} 

/* Media */
@media all and (max-width: 1080px){

	.banner{
		height: 200px;
	}

	.background img{
		max-height: 200px;
	}
	
	.title{
		height: 200px;
	}
	
	.title img{
		width: 45%;
	}

	.sl{
		height: 200px;
	}

	.sl p{
		font-size: 80%;
		width: 20%;
		margin: 130px 40%;
	}

	.columns{
		min-height: calc(100vh - 200px - 82.5px);
	}
	
}

@media all and (max-width: 858px) {
	.banner{
		height: 160px;
	}

	.background img{
		max-height: 160px;
	}

	.title{
		height: 160px;
	}
	
	.title img{
		width: 50%;
	}

	.sl{
		height: 200px;
	}

	.sl p{
		font-size: 75%;
		padding: 8px 8px;
		width: 40%;
		margin: 100px 30%;
	}

	.columns{
		grid-template-columns: 0fr 0.5fr 1.5fr 0fr;
		padding: 0px 5px;
		gap: 0.5em;
		min-height: calc(100vh - 160px - 82.5px);
	}

	.news{
		grid-column: 1/3;
	}

	.text{
		grid-column: 3/5;
	}

}

@media all and (max-width: 480px) {
	.banner{
		height: 140px;
	}

	.background img{
		max-height: 140px;
	}

	.title{
		height: 140px;
	}
	
	.title img{
		width: 80%;
	}

	.sl{
		height: 200px;
	}

	.sl p{
		font-size: 75%;
		padding: 5px 5px;
		width: 50%;
		margin: 90px 25%;
	}

	.nav ul li a{
		font-size: 13px;
	}

	.nav hr{
		display: initial;
	}

	.columns{
		grid-template-columns: 0.4fr 1.6fr;
		min-height: calc(100vh - 140px - 82.5);
	}

	.news{
		grid-column: 1/2;
	}

	.text{
		grid-column: 2/3;
	}
}
